<%- include('partials/header'); -%>

    <h1>Home</h1>
    <p>
        <%= homeStartingContent %>
    </p>
    <button class="btn btn-info" onclick="location.href='/compose'">Compose</button>

    <% posts.forEach((post)=> { %>
        <h1>
            <%= post.title %>
        </h1>
        <p>
            <%= post.content.substring(0,100) + " ..." %>
                <a href="/posts/<%= post._id %>">Read More</a>
        </p>
        <form action="/delete" method="post">
        <button class="btn btn-danger" name="delete" onclick="GFG_click(this.id)"
            value="<%= post._id %>">Delete</button>
        </form>

        <% }) %>

            <%- include('partials/footer'); -%>